In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config('spark.shuffle.useOldFetchProtocol', 'true'). \
    config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [2]:
spark.sql("""
select member_id, count(*) as total 
from itv022692_lending_club.customers 
group by member_id 
order by total desc""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    5|
|3f87585a20f702838...|    4|
|76b577467eda5bdbc...|    4|
|ad8e5d384dae17e06...|    4|
|4ab6205de571ccb7b...|    3|
|c92062bb371842b3d...|    3|
|13d0e1fae89e5e7e4...|    3|
|059d401bb603d9a80...|    3|
|a2356725aa9da92c6...|    3|
|d3731bad3e6a82515...|    3|
|6e520d95b6401fb11...|    3|
|e7d8d16928817ec8f...|    3|
|819453be77718d747...|    3|
|498bb6b1f0099cb47...|    3|
|5d52e7773cb0efff3...|    3|
|c563428cb58da48ff...|    3|
|035bf3d8288d803bd...|    3|
|d9ce4046daf599732...|    3|
|3ae415acd6bbfaac1...|    3|
|f54295a60946dedad...|    3|
+--------------------+-----+
only showing top 20 rows

In [3]:
spark.sql("""select * from itv022692_lending_club.customers
          where member_id like 'e4c167053d5418230%' """)

+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               138780.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               171165.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               110907.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               129833.0|      Individual|              null|                     null|2023-09-15 17:18:...|
|e4c167053d5418230...|     null|         6|      MORTGAGE|      55000.0|           IL|          604xx|            USA|    B|       B5|           Verified|               207300.0|      Individual|              null|                     null|2023-09-15 17:18:...|
+--------------------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+

In [4]:
spark.sql("""
select member_id, count(*) as total 
from itv022692_lending_club.loans_defaulters_delinq
group by member_id 
order by total desc""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e4c167053d5418230...|    3|
|17d76ba5141e1c33a...|    2|
|c23eb88fed4893030...|    2|
|343344c3c65b023af...|    2|
|62394e3f9d063413b...|    2|
|cbede54df344cdb94...|    2|
|55d55d97420671a1c...|    2|
|c16e1f92ae5ccc785...|    2|
|6c2b63ff231e520d4...|    2|
|77db5fdf951dd04b2...|    2|
|6918b9861ba5a4c67...|    2|
|bbe43331566910d55...|    2|
|a93a44c9d83793451...|    2|
|b5ded5638e54e1692...|    2|
|b3d4eb0c5a9239348...|    2|
|f1ebb6edb9b07de5f...|    2|
|8d2c605c7ad9209cc...|    2|
|694c6cb86608015e9...|    2|
|58dde656f747cee8b...|    2|
|4f7579700cd9d49d7...|    2|
+--------------------+-----+
only showing top 20 rows

In [5]:
spark.sql("""select * from itv022692_lending_club.loans_defaulters_delinq
          where member_id like 'e4c167053d5418230%' """)

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|e4c167053d5418230...|          3|        0.0|                     0|
|e4c167053d5418230...|          1|        0.0|                     0|
|e4c167053d5418230...|          1|        0.0|                    45|
+--------------------+-----------+-----------+----------------------+

In [6]:
spark.sql("""
select member_id, count(*) as total 
from itv022692_lending_club.loans_defaulters_detail_records_enquire
group by member_id 
order by total desc""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|e3b0c44298fc1c149...|   33|
|e4c167053d5418230...|    5|
|3f87585a20f702838...|    4|
|76b577467eda5bdbc...|    4|
|ad8e5d384dae17e06...|    4|
|c92062bb371842b3d...|    3|
|066ddaa64bee66dff...|    3|
|035bf3d8288d803bd...|    3|
|059d401bb603d9a80...|    3|
|291ca1b09ef11ca3e...|    3|
|4ab6205de571ccb7b...|    3|
|d3731bad3e6a82515...|    3|
|3ae415acd6bbfaac1...|    3|
|f54295a60946dedad...|    3|
|e7d8d16928817ec8f...|    3|
|498bb6b1f0099cb47...|    3|
|a2356725aa9da92c6...|    3|
|5d52e7773cb0efff3...|    3|
|c563428cb58da48ff...|    3|
|53789bea7edc660ed...|    3|
+--------------------+-----+
only showing top 20 rows

In [7]:
spark.sql("""select * from itv022692_lending_club.loans_defaulters_detail_records_enquire
          where member_id like 'e4c167053d5418230%' """)

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|e4c167053d5418230...|      0|                   0|             0|
|e4c167053d5418230...|      0|                   0|             3|
|e4c167053d5418230...|      0|                   0|             2|
|e4c167053d5418230...|      0|                   0|             1|
|e4c167053d5418230...|      0|                   0|             0|
+--------------------+-------+--------------------+--------------+

In [8]:
bad_data_customer_df = spark.sql("""select member_id from (select member_id, count(*) as total from itv022692_lending_club.customers group by member_id having total > 1)""")

In [9]:
bad_data_customer_df

+--------------------+
|           member_id|
+--------------------+
|01b2223757c3b62e7...|
|a2af7506825a7dcff...|
|675151e58a628e87b...|
|a53e2f488d2d76a30...|
|fc0e468bff11ac7c3...|
|cbede54df344cdb94...|
|761b2f1e61999e14e...|
|2bae2e4dd6d5f2b21...|
|eebbd89aa7efc13e7...|
|5130d0087970e032e...|
|61be6498c93cadf89...|
|f99c6e9cfe3a7a2d2...|
|7115ace193e13d8f3...|
|4231a55d0199c619a...|
|3b8ffe19f24749a73...|
|d4782ddad8591f44d...|
|cd1fdca829c443fa7...|
|f284044b881f218c0...|
|0fa3654dfc604c1d4...|
|48846377688c803fa...|
+--------------------+
only showing top 20 rows

In [10]:
bad_data_customer_df.count()

3157

In [11]:
bad_data_loans_defaulters_delinq_df = spark.sql("""select member_id from (select member_id, count(*) as total from itv022692_lending_club.loans_defaulters_delinq group by member_id having total > 1)""")

In [12]:
bad_data_loans_defaulters_delinq_df

+--------------------+
|           member_id|
+--------------------+
|cbede54df344cdb94...|
|8d2c605c7ad9209cc...|
|bbe43331566910d55...|
|6918b9861ba5a4c67...|
|b5ded5638e54e1692...|
|a93a44c9d83793451...|
|6c2b63ff231e520d4...|
|694c6cb86608015e9...|
|58dde656f747cee8b...|
|0b44a10bc749eabb2...|
|62394e3f9d063413b...|
|77db5fdf951dd04b2...|
|4f7579700cd9d49d7...|
|dbe5ec23d01598dbf...|
|17d76ba5141e1c33a...|
|c16e1f92ae5ccc785...|
|343344c3c65b023af...|
|db887c1d4cb004ca8...|
|c23eb88fed4893030...|
|ac9a3da3b89f9228e...|
+--------------------+
only showing top 20 rows

In [13]:
bad_data_loans_defaulters_delinq_df.count()

173

In [14]:
bad_data_loans_defaulters_detail_records_enquire_df = spark.sql("""select member_id from (select member_id, count(*) as total from itv022692_lending_club.loans_defaulters_detail_records_enquire group by member_id having total > 1)""")

In [15]:
bad_data_loans_defaulters_detail_records_enquire_df

+--------------------+
|           member_id|
+--------------------+
|cbede54df344cdb94...|
|cd1fdca829c443fa7...|
|4231a55d0199c619a...|
|675151e58a628e87b...|
|01b2223757c3b62e7...|
|f99c6e9cfe3a7a2d2...|
|a53e2f488d2d76a30...|
|a2af7506825a7dcff...|
|d4782ddad8591f44d...|
|5130d0087970e032e...|
|3b8ffe19f24749a73...|
|fc0e468bff11ac7c3...|
|2bae2e4dd6d5f2b21...|
|61be6498c93cadf89...|
|761b2f1e61999e14e...|
|f284044b881f218c0...|
|7115ace193e13d8f3...|
|eebbd89aa7efc13e7...|
|46cb438a0bd1b7194...|
|d12c5766068d3b377...|
+--------------------+
only showing top 20 rows

In [16]:
bad_data_loans_defaulters_detail_records_enquire_df.count()

3189

## now lets write back all these dataframes(bad_records_df) to disk

In [17]:
bad_data_customer_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path","/user/itv022692/lendingclubproject/bad/bad_data_customers") \
.save()

In [18]:
bad_data_loans_defaulters_delinq_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path","/user/itv022692/lendingclubproject/bad/bad_data_loans_defaulters_delinq") \
.save()

In [19]:
bad_data_loans_defaulters_detail_records_enquire_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path","/user/itv022692/lendingclubproject/bad/bad_data_loans_defaulters_detail_records_enquire") \
.save()

In [20]:
customer_bad_data_df =bad_data_customer_df.select("member_id") \
.union(bad_data_loans_defaulters_delinq_df.select("member_id")) \
.union(bad_data_loans_defaulters_detail_records_enquire_df.select("member_id"))

# this customer_bad_data_df will have all the records from three df's, repeated member_id's

In [21]:
bad_customer_data_final_df = customer_bad_data_df.distinct()

In [22]:
bad_customer_data_final_df.count()

3189

In [23]:
bad_customer_data_final_df.repartition(1).write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path","/user/itv022692/lendingclubproject/bad/bad_customers_data_final") \
.save()

## Segregating the Identified Bad data from the Normal Data

In [28]:
bad_customer_data_final_df.createOrReplaceTempView("bad_data_customers")

In [29]:
customers_df = spark.sql("""select * from itv022692_lending_club.customers where member_id NOT in (select member_id from bad_data_customers)""")

In [30]:
customers_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv022692/lendingclubproject/cleaned_new/customers_parquet") \
.save()

In [31]:
loans_defaulters_delinq_df = spark.sql("""select * from itv022692_lending_club.loans_defaulters_delinq where member_id NOT in (select member_id from bad_data_customers)""")

In [32]:
loans_defaulters_delinq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv022692/lendingclubproject/cleaned_new/loan_defaulters_delinq_parquet") \
.save()

In [33]:
loans_defaulters_detail_records_enquire_df = spark.sql("""select * from itv022692_lending_club.loans_defaulters_detail_records_enquire where member_id NOT in (select member_id from bad_data_customers)""")

In [34]:
loans_defaulters_detail_records_enquire_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv022692/lendingclubproject/cleaned_new/loans_defaulters_detail_records_enquire_parquet") \
.save()

## Creating External tables on top of these df's

In [36]:
spark.sql("""
create EXTERNAL TABLE itv022692_lending_club.customers_new(member_id string, emp_title string, emp_length int, home_ownership string, 
annual_income float, address_state string, address_zipcode string, address_country string, grade string, 
sub_grade string, verification_status string, total_high_credit_limit float, application_type string, 
join_annual_income float, verification_status_joint string, ingest_date timestamp)
stored as parquet
LOCATION '/public/trendytech/lendingclubproject/cleaned_new/customer_parquet'
""")

++
||
++
++

In [38]:
spark.sql("""
create EXTERNAL TABLE itv022692_lending_club.loans_defaulters_delinq_new(member_id string,delinq_2yrs integer, delinq_amnt float, mths_since_last_delinq integer)
stored as parquet
LOCATION '/public/trendytech/lendingclubproject/cleaned_new/loan_defaulters_delinq_parquet'
""")

++
||
++
++

In [39]:
spark.sql("""
create EXTERNAL TABLE itv022692_lending_club.loans_defaulters_detail_rec_enq_new(member_id string, pub_rec integer, pub_rec_bankruptcies integer, inq_last_6mths integer)
stored as parquet
LOCATION '/public/trendytech/lendingclubproject/cleaned_new/loan_defaulters_detail_rec_enq_parquet'
""")

++
||
++
++

## Lets verify that if any member_id's are repeating or not

In [40]:
spark.sql("""
select member_id, count(*) as total 
from itv022692_lending_club.customers_new
group by member_id 
order by total desc""")

+--------------------+-----+
|           member_id|total|
+--------------------+-----+
|82049ca1b17b099d5...|    1|
|ecbc2cebd03b01935...|    1|
|4ea091dae77549529...|    1|
|336d801ef8e9c83be...|    1|
|42cf6b7b838590901...|    1|
|3bb65b49636f58594...|    1|
|409c3f617c6d5dac7...|    1|
|cffdf10aad68c2a95...|    1|
|e91b27385ad942ed7...|    1|
|0a968409d34cb7e8d...|    1|
|8005192d8289b4c04...|    1|
|6eee7882c55301ce3...|    1|
|f24cd001e4706f951...|    1|
|cb2fab95b02ce9a0b...|    1|
|0b10d2babe9fbc366...|    1|
|8389fbaa45205003e...|    1|
|b6a2db1c9445f78e1...|    1|
|65839273a063b0aa9...|    1|
|0358cb615eee3489c...|    1|
|df0a58b5d54e24466...|    1|
+--------------------+-----+
only showing top 20 rows

In [ ]:
spark.sql("""
select member_id, count(*) as total 
from itv022692_lending_club.loans_defaulters_delinq_new
group by member_id 
order by total desc""")

In [ ]:
spark.sql("""
select member_id, count(*) as total 
from itv022692_lending_club.loans_defaulters_detail_rec_enq_new
group by member_id 
order by total desc""")

In [42]:
!! hadoop fs -ls /user/itv022692/lendingclubproject/cleaned_new

['Found 3 items',
 'drwxr-xr-x   - itv022692 supergroup          0 2026-01-19 23:29 /user/itv022692/lendingclubproject/cleaned_new/customers_parquet',
 'drwxr-xr-x   - itv022692 supergroup          0 2026-01-19 23:32 /user/itv022692/lendingclubproject/cleaned_new/loan_defaulters_delinq_parquet',
 'drwxr-xr-x   - itv022692 supergroup          0 2026-01-19 23:33 /user/itv022692/lendingclubproject/cleaned_new/loans_defaulters_detail_records_enquire_parquet']